/.gradle/
/build/
/app/build/

/local.properties

/.idea/.name
/.idea/libraries/
/.idea/copyright/
/.idea/*.xml
!/.idea/codeStyleSettings.xml
!/.idea/encodings.xml

/*.iml
/app/*.iml

# leave ignored unless it contains something else than proxy settings
gradle.properties
